<h1>Muestra procesar imagenes</h1>
<h2>Imagen precargada y convertida a cadena</h2>

<p>
  <img *ngIf="imageText.length > 0" [src]="imageText" width="200px" alt="">
</p>
<p><strong>Cadena de la imagen</strong></p>
<pre>

    {{imageText}}
</pre>
<h2>Error generado al no poder cargar la imagen</h2>
<p>
  <strong color="red">{{errorLoadImage}}</strong>
</p>

<h2>Imagen escalada (600PX)</h2>
<p>
  Tamaño original: W -> {{originalImageWidth}}PX H -> {{originalImageHeigth}}PX;
</p>
<p>
  Tamaño escalado: W {{scaledImageWidth}} H {{scaledImageHeigth}};
</p>
<img *ngIf="scaledImage" [src]="scaledImage.src" alt="Escalada" width="600">

<h2>Convertir SVG a base 64</h2>
<div class="svg-container">
  <svg  #svgElement xmlns="http://www.w3.org/2000/svg">
    <rect x="0" y="0" width="150" height="150"
      style="fill:blue;stroke:pink;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
    <foreignObject x="10" y="10" width="140" height="140">
      <!--
              In the context of SVG embedded in an HTML document, the XHTML
              namespace could be omitted, but it is mandatory in the
              context of an SVG document
            -->
      <div xmlns="http://www.w3.org/1999/xhtml">
        <strong style="color: red">Hola Mundo</strong>
      </div>
    </foreignObject>
  </svg>
  <p><strong>Cadena de la imagen SVG</strong></p>
  <pre>

    {{svgImageText}}
</pre>
  <p>
    <strong>Imagen generada de svg</strong>
    <img [src]="svgImageURL" alt="">
  </p>
  <div>
    <strong>Error al convertir un SVG inválido</strong>
    <div class="error">{{svgImageError}}</div>
  </div>
</div>
